@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
--orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);
--transparent-white-p: hsla(0, 0%, 100%, 0.75);
--light-gray-bg-h-but: hsl(0, 0%, 95%);
}

body{
  background-color:var(--light-gray-bg-h-but) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

.container{
  max-width: 860px;
  margin: 0 auto;
 
}

.wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin: 2rem;
border-radius: 8px;
overflow: hidden;
}
/*The 3 Boxes*/
.box{
  padding: 40px;
}
.box h2{
  color: var(--light-gray-bg-h-but);
 font-family: 'Big Shoulders Display', cursive; 
 font-size: 50px;
 margin: 20px 0 ;
}
.box p{
  color: var(--transparent-white-p);
  line-height: 1.6;
  margin: 30px 0 ;
}
.box button{
background-color: var(--light-gray-bg-h-but);
padding: 10px 20px;
margin-top: 80px;
border: 1px solid transparent;
border-radius: 30px;
display: block;                        /* to make the button text transparent*/
mix-blend-mode: screen;     
font-family: 'Lexend Deca', sans-serif;
transition: all 0.4s ease-in-out;
}
.box button:hover{
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--light-gray-bg-h-but) ;
  color: var(--light-gray-bg-h-but);
}
.sedans{
  background-color: var(--orange);
}
.suv{
  background-color: var(--dark-cyan);
}
.luxury{
  background-color: var(--very-dark-cyan);
}
@media (max-width: 600px){

.wrapper {
  grid-template-columns: 1fr;
}
}



.attribution { font-size: 11px; 
  text-align: center;

}
    .attribution a { color: hsl(228, 45%, 44%); }
